{% extends "layout_2_col_9x3.html" %}
{% load i18n static thumbnail fiber_tags flatpages_plus_tags %}{% load url from future %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block css %}{% endblock css %}
{% block extrajs %}{% endblock extrajs %}
{% block content_title %}
    <div class="span12 awpagetitle">
        <h1>{{ fiber_page.title }}</h1>
    </div>{% endblock content_title %}
{% block content %}
    <div class="container awpagemain">
        <div class="row">
            <div class="span12">
                {{ flatpage.content }}
            </div>
        </div>
    </div>
{% endblock content %}
{% block sidebar %}
    <div id='sidebar_detail'>
    <ul class="nav nav-list">
      <li class="nav-header">{% trans "О ТРЦ" %}</li>
        {% show_menu "mainmenu" 2 3 %}
    </ul>
        </div>
{#    <ul>#}
{#        {% for fiber_page in fiber_current_pages %}#}
{#            <li>#}
{#                <a href="{{ fiber_page.get_absolute_url }}">{{ fiber_page.title }}</a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{% endblock sidebar %}
{% block news %}
    <div class="container awnews">
        <div class="row">
{% get_flatpages sort='-date_publish' limit=3 as flatpages %}
            {% for f in flatpages %}
            <div class="span4">
            <div class="awdata"><p style="font-size: 26px">{{ f.date_publish|date:"d" }}</p><p>{{ f.date_publish|date:"m.y" }}</p></div>
            <article class="awstat span3">
              <h1><a href="{{ f.url }}">{{ f.title|truncatechars:27 }}</a></h1>
              <p>{{ f.content|striptags|truncatechars:70 }}</p>
            </article>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
{% block awhr %}<div class="container"><div class="row"><div class="span12"><hr class="awblue"/></div> </div> </div> {% endblock %}
