{% extends "tpl-page-sidebar.html" %}
{% load i18n static thumbnail fiber_tags flatpages_plus_tags %}{% load url from future %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block content %}
    <article class="span9">
        {% for post in object_list %}
            <div class="awblg">
                <div class="row">
                    <div class="span3"><a><span class="awviev">2650</span></a><span class="awpal">|</span><a><span
                            class="awlike">+240</span></a></div>
                    <div class="span9 zag">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="data awgudat">{{ post.date_publish|date:"d.m.y" }}</div>
                </div>
                <div class="row awhide">

                    <div class="span9">
                        {% thumbnail post.photo "98" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                        <p>{{ post.content|striptags|truncatechars:300 }}</p>
                    </div>
                </div>
                <div class="row awhide">
                    <div class="awgudet"><a href="{% url 'flatpage-detail' cat=curent_cat slug=post.url %}">{% trans 'Детальніше' %} →</a></div>
                </div>
            </div>
        {% endfor %}
    </article>
{% endblock content %}
{% block sidebr %}
<aside class="span3" id="aside-right">
<div class="pull-left awgumagbut">{% trans 'Новини' %}</div>
<ul class="awmaglistnav clr">
    <li>
        <a href="{% url 'flatpage_item_list'  cat='news' %}">{% trans 'Останні' %}</a>
        <span class="pol"></span>
    </li>
    <li>
        <a href="{% url 'flatpage_item_list'  cat='news' %}">{% trans 'Популярні' %}</a>
        <span class="pol"></span>
    </li>
    <li>
        <a href="{% url 'flatpage_item_list'  cat='promotions' %}">{% trans 'Акції' %}</a>
        <span class="pol"></span>
    </li>

</ul>
<div class="pull-left awgumagbut">{% trans 'Архів' %}</div>
        <ul class="awmaglistnav clr">
    <li>
        <a href="{% url 'flatpage_arive_list'  cat='news' %}">2013-01-28</a>
        <span class="pol"></span>
    </li>
    <li>
        <a href="{% url 'flatpage_arive_list'  cat='news' %}">2013-02-14</a>
        <span class="pol"></span>
    </li>
    <li>
        <a href="{% url 'flatpage_arive_list'  cat='news' %}">2013-03-25</a>
        <span class="pol"></span>
    </li>
    <li>
        <a href="{% url 'flatpage_arive_list'  cat='news' %}">2013-04-04</a>
        <span class="pol"></span>
    </li>
    <li>
        <a href="{% url 'flatpage_arive_list'  cat='news' %}">2013-05-15</a>
        <span class="pol"></span>
    </li>
    <li>
        <a href="{% url 'flatpage_arive_list'  cat='news' %}">2013-06-02</a>
        <span class="pol"></span>
    </li>
</ul>
</aside>
{% endblock sidebr %}