{% extends "tpl-page-sidebar.html" %}
{% load i18n static fiber_tags flatpages_plus_tags thumbnail cache compress admin_urls guardian_tags %}{% load url from future %}
{% block title %}{{ fiber_page.title }} : {{ object.title }}{% endblock title %}
{% get_current_language as lang %}
{% block content_title %}{% endblock content_title %}
{% block content %}
<article class="span9" data-news-detail='{{ object.pk }}'>
    <h1>
        <span class="head">{{ object.title }}</span>
    </h1>
     {% if object.photo2 %}
     <a href="#">
     {% thumbnail object.photo2 "220" as im %}
     <img class="pull-left" alt="{{ object.title }}" width="{{ im.width }}" height="{{ im.height }}" src="{{ im.url }}">
     {% endthumbnail %}
     </a>
     {% elif object.photo %}
     <a href="#">
     {% thumbnail object.photo "220" as im %}
     <img alt="{{ object.title }}" width="{{ im.width }}" height="{{ im.height }}" src="{{ im.url }}">
     {% endthumbnail %}
     </a>
     {% endif %}
 {{ object.content|safe }}
 </article>
{% endblock content %}
{% block sidebr %}
<aside class="span3" id="aside-right">
<div class="pull-left awgumagbut">{% trans 'Останні новини' %}</div>
<p></p>
{% get_flatpages sort='-date_publish' category=2 limit=3 as flatpages %}
{% for f in flatpages %}
<div class="awguasidenews">
    <div class="awdata">
        <p class="awgupn">{{ f.date_publish|date:"d F Y" }}</p>
    </div>
    <article class="awstat">
        <h1>
            <a href="{% url 'flatpage-detail' cat='news' slug=f.url %}">{{ f.title }}</a>
        </h1>
        {% thumbnail f.photo "220x240" as im %}
            <a href="{% url 'flatpage-detail' cat='news' slug=f.url %}"><img alt="{{ f.title }}" width="{{ im.width }}" height="{{ im.height }}" src="{{ im.url }}"></a>
        {% empty %}{% endthumbnail %}
        {% if f.description %}
            <p>{{ f.description|striptags }}</p>
        {% else %}
            <p>{{ f.content|striptags|truncatewords:50 }}</p>
        {% endif %}
    </article>
    <div><a href="{% url 'flatpage-detail' cat='news' slug=f.url %}" class="btn btn-primary pull-right">{% trans 'Читати' %}</a></div>
    <div class="clearfix"></div>
</div>
{% endfor %}
</aside>
{% endblock sidebr %}
{% block content-related %}
<span>
<span rel="tooltip" data-original-title="{% trans 'Дата публикации' %}"><i class="icon-calendar"></i> {{ object.date_publish|date:"d M Y" }}</span>
{% get_obj_perms request.user for object as "flatpage_perms" %}
{% if "change_flatpage" in flatpage_perms %}
 | <a href='{% url 'admin:flatpages_plus_flatpage_change' object.id %}' rel="tooltip" data-original-title="{% trans 'Edit' %}"><i class="icon-edit"></i> {% trans 'Edit' %}</a>
{% endif %}
 | <span rel="tooltip" data-original-title="{% trans 'Просмотров' %}"><i class="icon-eye-open"></i> <span id='num-view-{{ object.id }}'></span></span>
&nbsp;|&nbsp;<a href='#' class='itemVoite' data-id='{{ object.id }}' id='vote-{{ object.id }}' data-voite='flatpages_plus.FlatPage' rel="tooltip" data-original-title="{% trans 'Голосовать' %}"><i class="icon-thumbs-up"></i></a> <span data-voite-result='{{ object.id }}' id='num_votes{{ object.id }}'></span>
</span>
{% endblock content-related %}
